@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Noto Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #ffffff;
  color: #3c3c3c;
}

a {
  font-weight: 500;
  color: #22959f;
  text-decoration: none;
}

a:hover {
  color: #6f6f6f;
}

button {
  font-family: inherit;
  font-size: 1em;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #22959f;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #6f6f6f;
}